# Binaries
*.out
myteams_cli
myteams_server
/src/*/tests
/src/*/asan
/src/*/prof

# Compilation
.build/
*.a
*.o
*.d
*.so
/result
.cache/

# Editors junk
*~
\#*#
*.swp
*.swo

# Reports
core.*
*.log
*.gcda
*.gcno

# Data
*.tits
